
<h2>{{title}}</h2>
<button (click)="showDiv.title = !showDiv.title"> Enter New Title: </button>

<div *ngIf="showDiv.title">
  <input [(ngModel)]=title/>
</div>


<ul >
  <li *ngFor="let unnamed of Unnamed$ | async"
    [class.selected]="unnamed.price === selectedPrice">

      <button (click)="showDiv.price = !showDiv.price; showDiv.name = !showDiv.name">
      Element1:  {{ unnamed.price }} -- Element2: {{ unnamed.name }}</button>
      
    <h3>
      <div *ngIf="showDiv.price">
        <label >ID: </label>
        <input [(ngModel)]="unnamed.price" placeholder="ID"/>
        <p style="font-size:3px;line-height:1;"><br/></p>
      </div>
      <div *ngIf="showDiv.name">
        <label >Name: </label>
        <input [(ngModel)]="unnamed.name" placeholder="name"/>
        <p style="font-size:0px;line-height:1;"><br/></p> 
      </div>
    </h3>
        
  </li>
  
</ul>