<h2>Place Holder 3</h2>
<ul class="unnamed">
  <li *ngFor="let unnamed of Unnamed$ | async"
    [class.selected]="unnamed.price === selectedPrice">
      
      <span >ID: {{ unnamed.price }} -- </span>{{ unnamed.name }} 
      <p style="font-size:1px;line-height:1;"><br/></p>
    
    <h3>
      <div >
        <label >Name: </label>
        <input [(ngModel)]="unnamed.name" placeholder="name"/>
        <p style="font-size:2px;line-height:1;"><br/></p> 
      </div>
      <div >
        <label >ID: </label>
        <input [(ngModel)]="unnamed.price" placeholder="ID"/>
        <p style="font-size:7px;line-height:1;"><br/></p>
      </div>
    </h3>
  </li>
</ul>