<div class="center">
  <h1>{{title}}</h1>
</div>

<nav>
  <ul>
    <div class="center"> 
      <a routerLink="/first-component" routerLinkActive="active">First Component</a>
      <a routerLink="/second-component" routerLinkActive="active">Second Component</a> 
    </div>
    <div class="center"> 
      <a routerLink="/EditUnnamedItem-component" routerLinkActive="active">Edit Item</a> 
    </div>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>